.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    
    
}


.headertop {
    height: 100px;
    background-color: lightblue;
    text-align: center;
    
    
}

.headerbottom {
    height: 20px;
    background-color: palevioletred;
}

.columnleft {
    height: 500px;
    float:left;
    background-color: lightgoldenrodyellow;
    width:20%;
}

.columnright {
    height: 500px;
    float: left;
    background-color: lightcoral;
    width: 20%;
    
}

.columncenter {
    width: 60%;
    background-color: lightpink;
    height: 500px;
    float: left;
    font-family: 'Sigmar One', cursive;
font-family: 'Pathway Gothic One', sans-serif;
}

.footer {
    
   height: 40px;
    width: 100%;
    clear: left;
    background-color: #f5cb99;
    
}
h1 { font-family: 'Sigmar One', cursive;
    
}

body {
    font-size: 150%;
    background-image: url(sakura.png)
}

